<div class="w-50" id="footsect">
    <div class="row" >
        <div class="col-4">
            <h4>More Apps</h4>
        </div>
        <div class="col-4">
            <h4>Contact</h4>
        </div>
        <div class="col-4">
            <h4>Want one?</h4>
        </div>
    </div>
</div>
    
    </body>
</html>