<% include partials/header %>
<div class="w-50 container jumbotron">
    There is literally nothing here...
    <br><br><br><br><br><br>
    <small>Nothing.</small>
</div>


<% include partials/footer %>