<% include partials/header %>

<div class="container w-50" >
    <h1 class="container text-center border">Version Info</h1>
    <ul class="list-unstyled" style="margin-bottom:0;">
        <li>Version 1.0</li>
        <li>Made with Express</li>
        <li>Made with Node.js</li>
        <li>Made with Love</li>
    </ul>
</div>


<% include partials/footer %>
